$valid-color: #23af54;
$error-color: #af3b41;

%message-box {
  padding: .5rem 1rem;
  border-radius: 5px;
  width: 30%;
  text-align: left;
  display: flex;
  flex-direction: column;
  color: #282c34;
  transition: all .2s ease-out;
}

.error { color: $error-color; font-weight: bold; font-size: 1.5rem; }
.valid { color: $valid-color; font-weight: bold; font-size: 1.5rem; }

.error-message {
  @extend %message-box;
  background-color: rgba($error-color, .3);
  border-left: 6px solid $error-color;
  box-shadow: 0 3px 5px rgba($error-color, .1);
}

.success-message {
  @extend %message-box;
  background-color: rgba($valid-color, .3);
  border-left: 6px solid $valid-color;
  box-shadow: 0 3px 5px rgba($valid-color, .1);
}

.char-component {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  display: flex;
  margin: 1px;
  border: 1px solid #ccc;
  background-color: #eee;
  color: #232323;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s ease-out
}
.char-component:hover { background-color: #bbb; color: #fff; }