$top-bun-color: linear-gradient(to top, #F2C94C, #F2994A);
$bottom-bun-color: linear-gradient(to bottom, #F2C94C, #F2994A);
$cucumber-color: #6ab04c;
$lettuce-color: #badc58;
$tomato-color: #e74c3c;
$onion-color: #cd84f1;
$cheese-color: #f9ca24;
$meat-color: #783c28;

.burger-preview-wrapper {
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

%ingredient {
  margin: .1rem 0;
  border-radius: 10px;
  width: 30%;
}

.top-bun {
  background: $top-bun-color;
  border-radius: 50% 50% 15% 15%;
  width: 33%;
  height: 100px;
}

.bottom-bun {
  background: $bottom-bun-color;
  border-radius: 10px 10px 25% 25%;
  height: 40px;
  width: 33%;
}

.onion {
  @extend %ingredient;
  background-color: $onion-color;
  height: 15px;
}

.lettuce {
  @extend %ingredient;
  background-color: $lettuce-color;
  height: 15px;
}

.tomato {
  @extend %ingredient;
  background-color: $tomato-color;
  height: 15px;
}

.cucumber {
  @extend %ingredient;
  background-color: $cucumber-color;
  height: 15px;
}

.cheese {
  @extend %ingredient;
  background-color: $cheese-color;
  height: 20px;
}

.meat {
  @extend %ingredient;
  background-color: $meat-color;
  height: 35px;
}

