#topbar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  color: #84817a;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

h2.inline {
  margin: 0 0 0 1rem;
  font-size: 1.2rem;
}

ul.navigation-items {
  margin: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  transition: all .2s ease-out;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
}

.nav-link a {
  color: #232323;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 .2rem;
}
.nav-link:hover { background-color: rgba(#fff, .7); }
.nav-link.active { border-bottom: 4px solid #feca57; background-color: rgba(#fff, .7); }